.auth {
    background: white; 
    position: relative;
    top: 5%;
    left: 20%;
    -webkit-transform: translate(-20%, 5%);
    -ms-transform: translate(-20%, 5%);
    transform: translate(-20%, 5%);
    max-width: auto;
}


.signin-bar,
.signup-bar {
  margin-top: 3rem;
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  cursor: pointer;
  background-color: #00cc66;
  min-width: 100%;
}

.signin-btn,
.signup-btn,
.signin-text,
.signup-text {
  cursor: pointer;
}


.signin-text,
.signup-text {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}

.signin-bar:hover, .signup-bar:hover {
    background-color: #3e8863;
}

/* Desktop screens */
@media (min-width: 1024px) {
    .auth {
        background: white; 
        position: relative;
        top: 2%;
        left: 50%;
        -webkit-transform: translate(-50%, 2%);
        -ms-transform: translate(-50%, 2%);
        transform: translate(-50%, 2%);
        max-width: 40rem;
    }
  }